# Public build context: explicit inputs only.
**
!.dockerignore
!.playwright/cli.config.json
!Dockerfile
!docker/install-shell-tools
!docker/just-terminal-start
!docker/zsh/conf.d/10-environment.zsh
!docker/zsh/conf.d/20-history.zsh
!docker/zsh/conf.d/30-options.zsh
!docker/zsh/conf.d/40-completion.zsh
!docker/zsh/conf.d/50-keybindings.zsh
!docker/zsh/conf.d/60-aliases.zsh
!docker/zsh/conf.d/70-functions.zsh
!docker/zsh/conf.d/80-plugins.zsh
!docker/zsh/conf.d/90-prompt.zsh
!docker/zsh/init.zsh
!docker/zsh/starship.toml
!docker/zsh/zshrc
